<form action="/blogs/edit/<%= blog._id %>" method="POST">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="<%= blog.title %>" required>

    <label for="snippet">Snippet:</label>
    <input type="text" id="snippet" name="snippet" value="<%= blog.snippet %>" required>

    <label for="body">Body:</label>
    <textarea id="body" name="body" required><%= blog.body %></textarea>

    <button type="submit">Save Changes</button>
</form>