<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
    <body>
        <!-- Navigation-->
        <%- include('./partials/nav.ejs') %>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About FlexTech Blog</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Welcome to FlexTech Blog, your go-to source for all things technology and software engineering.
                         We are a community of passionate tech enthusiasts dedicated to bringing you the latest insights, 
                         tutorials, and updates from the ever-evolving world of technology.
                        </p>
                        <br>

                        <h2>Our Mission</h2>
                        <br>
                        <p>At FlexTech Blog, our mission is to empower individuals like you to explore the limitless 
                           possibilities of technology. Whether you're a seasoned software developer, a budding coder, 
                           or simply tech-curious, we've got something for everyone. Our aim is to simplify complex 
                           concepts, provide practical guidance, and inspire creativity in the tech world.
                        </p>

                        <br>
                        <h2>What We Offer</h2>
                        <br>
                        <p><strong>Articles:</strong> Stay up-to-date with the latest trends, news, and developments in the tech industry.</p>
                        <p><strong>Tutorials:</strong> Learn how to code, build websites, create apps, and much more with our step-by-step tutorials.</p>
                        <p><strong>Insights:</strong> Gain valuable insights from industry experts and thought leaders.</p>
                        <p><strong>Community:</strong> Connect with like-minded individuals, ask questions, and share your knowledge in our vibrant tech community.</p>

                        <br>
                        <h2>Meet Our Team</h2>
                        <br>
                        <p>Our team of experienced software engineers, data analysts, and tech enthusiasts are
                           here to guide you on your tech journey. We're passionate about what we do, and we're
                           excited to share our knowledge with you.
                        </p>
                        <br>
                        <h2>Get Involved</h2>
                        <br>
                        <p>We believe in the power of collaboration and learning from one another. Join us on this
                           exciting tech adventure! Whether you're here to learn, share your expertise, or simply 
                           explore, you're part of the FlexTech Blog family.
                        </p>
                    </div>
                </div>
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>
