<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
     <!-- Page Header -->
     <header class="masthead">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="page-heading">
                <h1>Reset Password</h1>
              </div>
            </div>
          </div>
        </div>
      </header>
      
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Forgot Password</h3>
                    </div>
                    <div class="card-body">
                        <!-- Add your form here for sending a reset link -->
                        <form action="/blogs/users/forgot-password" method="POST">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Send Reset Link</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>
