<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Success</title>
    <!-- Add your CSS links or styles here if needed -->
</head>

<body>
    <div class="container">
        <h1>Password Reset Success</h1>
        <p>An email has been sent to your registered email address with instructions on how to reset your password..</p>
        <!-- You can customize this message further if needed -->
    </div>
</body>

</html>
