<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
<body>
    <!-- Navigation-->
    <%- include('./partials/nav.ejs') %>
    <!-- Page Header-->
	<header class="masthead">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="page-heading">
                <h1>Create A New Account</h1>
              </div>
            </div>
          </div>
        </div>
      </header>
      
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <% if (registrationErrors.length > 0) { %>
              <div class="alert alert-danger">
                  <% for (let error of registrationErrors) { %>
                      <p><%= error %></p>
                  <% } %>
              </div>
          <% } %>
          
            <form action="/users/register" method="POST" encType="multipart/form-data">
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label>Username</label>
                  <input type="text" name="username" placeholder="Username" class="form-control">
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label>Email</label>
                  <input type="email" name="email" placeholder="Email" class="form-control">
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label>Password</label>
                  <input type="password" name="password" placeholder="Password" class="form-control">
                </div>
              </div>
            
              <div class="form-group my-4 text-center">
                <button class="btn btn-primary">Register now</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <%- include('./partials/footer.ejs') %>

      <!-- Bootstrap core JS-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
      <!-- Core theme JS-->
      <script src="/scripts.js"></script>

</body>
</html>