<!-- Footer-->
<footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#!">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="www.facebook.com/kanu.chibueze1">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/kingandrenz">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="small text-center text-muted fst-italic">Copyright &copy; Flextec Blog 2023</div>
            </div>
        </div>
    </div>

    <script>
        ClassicEditor
          .create(document.querySelector('#editor'), {
            // CKEditor image upload configuration
            // Adjust the uploadUrl to match your server-side route for image uploads
            ckfinder: {
              uploadUrl: '/ckeditor',
            },
          })
          .catch(error => {
            console.error(error);
          });
      </script>
    <!-- Add CKEditor content validation -->
    <script>
        const createPostButton = document.querySelector('#createPostButton');
        const ckeditorValidationMessage = document.querySelector('#ckeditorValidationMessage');
        
        createPostButton.addEventListener('click', function (event) {
          // Get the CKEditor instance
          const editor = ClassicEditor.instances.editor;
          
          // Check if the editor content is empty
          if (!editor.getData()) {
            ckeditorValidationMessage.textContent = 'Please enter content in the editor.';
            event.preventDefault(); // Prevent form submission
          } else {
            // Clear any previous validation message
            ckeditorValidationMessage.textContent = '';
          }
        });
      </script>
      
</footer>


  <!-- CKEditor configuration script -->
  
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/scripts.js"></script>