<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Flextech Blog||<%={title}%></title>
</head>
<body>
	<%- include('./partials/nav.ejs') %>

	<div class="not-found content">
		OOPS! page not found :)
	</div>

</body>
</html>
