<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Flextech||<%= title%></title>
</head>
<body>
	<%- include('./partials/nav.ejs') %>

	 <div class="about">
                <h2>About Us</h2>
                <p>Flextech is a brand name that engages in tutoring tech enthusiast, this platform came to be cause of the requirement of creating a portfolio project in order to graduate from the alx SE program</p>
                <p>In this blog, you will find articles on various topics related to technology, such as web development, data science, machine learning, and more. You will also learn from the experiences and insights of our tutors and students, who are passionate about sharing their knowledge and skills with the world.</p>
                <p>We hope you enjoy reading our blog and find it useful and informative. If you have any questions or feedback, please feel free to contact us or leave a comment. We would love to hear from you!</p>
        </div>


</body>
</html>
