<nav>
	<div class="site-title">
		<a href="/"><h1>Flextech Blog</h1></a>
		<p> A Flextech Blog site </p>
	</div>
	<ul>
		<li><a href="/"> Blogs</a></li>
		<li><a href="/about">about</a></li>
		<li><a href="/blogs/create">New Blog</a></li>
	</ul>
</nav>
